body {
    background-color: rgb(176, 243, 243);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(54, 68, 107)
}

.content {
    width: 100%;
    height: 100vh;
    margin-right: 5rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.content-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 10rem 0 10rem;
}

.content-desc h1 {
    align-self: center;
}

.content-desc p {
    font-size: larger;
}

.content-mascotas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perros-gatos {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.perros-gatos img {

    display: flex;
    align-self: center;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: -2px 10px 30px -6px rgba(0,0,0,0.75);
}

.perros-gatos a {
    text-decoration: none;
    background-color: rgb(28, 131, 145);
    align-content: centers;
    color: aliceblue;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
}